@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@200;300;400;500;600&family=Work+Sans:wght@300&display=swap');

.app{
  min-height: 100vh;
  display: flex;
}

::-webkit-scrollbar{
  width: 0px;
}
::-webkit-scrollbar-thumb{
  background: rgba((red), green, blue, alpha);
}

::-webkit-scrollbar-thumb:hover{
  background: #555;
}